[options]
font         = inconsolata 9
allow_bold   = true
cursor_blink = off
browser      = chromium
audible_bell = false

[colors]
foreground = #bbbbbb
background = #000000
cursor     = #bbbbbb
color0     = #151515
color1     = #ac4142
color2     = #90a959
color3     = #f4bf75
color4     = #005577
color5     = #aa759f
color6     = #75b5aa
color7     = #d0d0d0
color8     = #505050
color9     = #be2f30
color10    = #9bc63c
color11    = #f0a63e
color12    = #50aacf
color13    = #bb64a9
color14    = #5dcdba
color15    = #ffffff

